<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/css/12bool.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <title>Motivation</title>
</head>
<body>
    <!-- creiamo un contenitore per istanza vue -->
  <div id="root">
    <!-- iniziamo analizzando le macro-aree del progetto: -->
    <!-- abbiamo un header con navbar e poi una sezione jumbotron con all'interno due sezioni -->
    <header>
      <div class="sfondo">

        <nav class="container">
          <!-- all'interno genereremo tutto tramite vue -->
          <div class="row">

            <div class="col-lg-2">
              <img :src="logo" :style="myLogo" alt="logo max coach">
            </div>
            <div class="col-lg-7">
              <ul class="flex_1">
                <li v-for="item in link" class="mylist"> {{item}} <i class="fas fa-angle-down"></i></li>
              </ul>
            </div>
            <div class="col-lg-3">
              <span class="flexend">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
              </span>
            </div>

          </div>
        </nav>
        <div class="jumbotron container bd">
          <div class="row">

            <div class="col-lg-6 leftpic bd">
              <h3 class="small_title">i'm wingman</h3>
              <h1 class="title">peace on earth a wonderful wish but no way</h1>
              <p class="explain text_grey">Success isn't overnight.It's when everyday you get a little better then the day before.It all adds up.</p>
              <button class="get_start">Get started for free<i class="fas fa-arrow-right small_arrow"></i></button>

            </div>

            <div class="col-offset-lg-1 col-lg-5  rightpic bd">
              <!-- <img class="style_woman" src="./assets/img/home-movation-shape-face-300x267.png" alt="img stilizzata di donna"> -->
              <div class="stylewoman">
                  <img class="blonde_man" src="./assets/img/home-movation-hero-image-246x300.png" alt="ragazzo">
              </div>

            </div>
          </div>
        </div>
      </div>

    </header>

    <!-- costruisco il main con le varie sezioni -->
    <main>
      <!-- sezione 1 -->
      <section class="one">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 bd flex">
              <div class="card_1">
                <h2 class="number">1.926</h2>
                <p class="num_explain">finished session</p>
              </div>
              <div class="card_1">
                <h2 class="number">100%</h2>
                <p class="num_explain">satisfaction rate</p>
              </div>
              <div class="card_1">
                <h2 class="number">3092+</h2>
                <p class="num_explain">enrolled learners</p>
              </div>
              <div class="card_1 border">
                <h2 class="number">200</h2>
                <p class="num_explain">online instructor</p>
              </div>

            </div>

          </div>
        </div>
      </section>
      <section class="two">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h4 class="num_explain w_marine">about me</h4>
              <h2 class="how_to">how to be an alpha male:the 15 habits of true alphas</h2>
            </div>
            <div class="col-lg-6">
              <p class="explain_1">Want to learn how to be <span class="w_marine">an alpha male</span>? How to be more masculine?How to be the man you've always wanted to be?</p>

              <p class="explain_2">Your goals is to show the consistency of business, core values, and customer care.</p>
              <p class="explain_2">Punctuality,responsibility,individuality,accuracy,enthusiasm-you have to clearly explain how these quality are applicable to your work.And the important thing is you do love what you do.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="three">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 main_cont relative">
              <img class="video_poster" src="./assets/img/home-movation-video-poster-670x450.jpg" alt="">
              <span class="icon"><img src="./assets/img/icon-youtube-play.png" alt=""></span>
            </div>
            <div class="col-lg-5 dreams">
              <p class="every">"Every morning you have two choices: continue to sleep with your dreams, or wake up and chase them."</p>
              <img class="wave" src="./assets/img/home-movation-shape-01.png" alt="">
              <p class="kaixa">Kaixa Stark</p>
              <p class="wing text_grey">Wingman</p>
            </div>
          </div>
        </div>
      </section>
      <section class="four">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <p class="begin text_grey">begin your journey at maxcoach</p>
              <p class="courses">latest <span class="w_marine">online courses</span></p>
            </div>
          </div>
        </div>
      </section>
      <section class="five">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 flex wrap">
              <div class="card_2">
                <img class="img_card_2" src="./assets/img/motivation-course-06-480x298.jpg" alt="">
                <div class="set_card_2">
                  <p class="price w_marine">$30.00</p>
                  <p class="description">How to be Successfull: Create A Growth Mindset For Success</p>
                  <span class="first_span text_grey"><i class="far fa-file-alt margin_r_20"></i>3 Lessons</span>
                  <span class="first_span text_grey"><i class="far fa-user margin_r_20"></i>50 Students</span>
                </div>
              </div>
              <div class="card_2">
                <img class="img_card_2" src="./assets/img/motivation-course-05-480x298.jpg" alt="">
                <div class="set_card_2">
                  <p class="price w_marine">$30.00</p>
                  <p class="description">Hot to Build Confidence in Your Abilities</p>
                  <span class="first_span text_grey"><i class="far fa-file-alt margin_r_20"></i>1 Lessons</span>
                  <span class="first_span text_grey"><i class="far fa-user margin_r_20"></i>50 Students</span>
                </div>
              </div>
              <div class="card_2">
                <img class="img_card_2" src="./assets/img/motivation-course-04-480x298.jpg" alt="">
                <div class="set_card_2">
                  <p class="price w_marine">$20.00</p>
                  <p class="description">Productivity Machine - Focus in a Distracted World</p>
                  <span class="first_span text_grey"><i class="far fa-file-alt margin_r_20"></i>5 Lessons</span>
                  <span class="first_span text_grey"><i class="far fa-user margin_r_20"></i>50 Students</span>
                </div>
              </div>
              <div class="card_2">
                <img class="img_card_2" src="./assets/img/motivation-course-03-480x298.jpg" alt="">
                <div class="set_card_2">
                  <p class="price w_marine">$20.00</p>
                  <p class="description">Effective Time Management Mastery - Complete Guide</p>
                  <span class="first_span text_grey"><i class="far fa-file-alt margin_r_20"></i>18 Lessons</span>
                  <span class="first_span text_grey"><i class="far fa-user margin_r_20"></i>50 Students</span>
                </div>
              </div>
              <div class="card_2">
                <img class="img_card_2" src="./assets/img/motivation-course-02-480x298.jpg" alt="">
                <div class="set_card_2">
                  <p class="price w_marine">$25.99</p>
                  <p class="description">Body Language Secrets for Entrepreneurs</p>
                  <span class="first_span text_grey"><i class="far fa-file-alt margin_r_20"></i>19 Lessons</span>
                  <span class="first_span text_grey"><i class="far fa-user margin_r_20"></i>50 Students</span>
                </div>
              </div>
              <div class="card_2">
                <img class="img_card_2" src="./assets/img/motivation-course-01-480x298.jpg" alt="">
                <div class="set_card_2">
                  <p class="price w_marine">$19.99</p>
                  <p class="description">Management Skills: The Science of Leadership</p>
                  <span class="first_span text_grey"><i class="far fa-file-alt margin_r_20"></i>17 Lessons</span>
                  <span class="first_span text_grey"><i class="far fa-user margin_r_20"></i>50 Students</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="six">
        <div class="container txt_center">
          <button class="button_2">Wiew all courses<i class="fas fa-arrow-right small_arrow"></i></button>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
                <h4 class="book">book store online</h4>
                <h2 class="alpha blu_oltrem">be alpha with <span class="w_marine">wingman's book</span></h2>
                <ul class="list_1">
                  <li><i class="fas fa-check w_marine"></i>Help you understand yourself better</li>
                  <li><i class="fas fa-check w_marine"></i>Revealing mature tips</li>
                  <li><i class="fas fa-check w_marine"></i>Give the right advice</li>
                  <li><i class="fas fa-check w_marine"></i>Fascinating examples of alpha man</li>
                </ul>
                <button class="button_3">get free ebook</button>
              </div>
            <div class="col-lg-7 flex">
              <div class="card_3 relative">
                <div class="icon_2">
                  <i class="fas fa-search"></i>
                  <i class="fas fa-shopping-cart"></i>
                  <i class="far fa-heart"></i>
                  <i class="fas fa-signal"></i>
                </div>
                <img src="./assets/img/product-book-11-400x400.jpg" alt="">
                <p class="maxcoach blu_oltrem">Alpha man by Maxcoach</p>
                <p class="price_2">$29.00</p>
              </div>
              <div class="card_3 relative">
                <div class="icon_2">
                  <i class="fas fa-search"></i>
                  <i class="fas fa-shopping-cart"></i>
                  <i class="far fa-heart"></i>
                  <i class="fas fa-signal"></i>
                </div>
                <img src="./assets/img/product-book-10-400x400.jpg" alt="">
                <p class="maxcoach blu_oltrem">Real man 4.0 by Maxcoach</p>
                <p class="price_2">$39.00</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="seven">
        <div class="container flex sect_seven">
          <img class="pd_30" src="./assets/img/client-logo-05-primary.png" alt="">
          <img class="pd_30" src="./assets/img/client-logo-06-primary.png" alt="">
          <img src="./assets/img/client-logo-07-primary.png" alt="">
          <img class="pd_30" src="./assets/img/client-logo-04-primary.png" alt="">
          <img class="pd_30" src="./assets/img/client-logo-03-primary.png" alt="">
          <img src="./assets/img/client-logo-02-primary.png" alt="">
        </div>
      </section>
      <section class="eight">
        <div class="container_2 relative">
          <div class="circle">
            <img class="pointer_up" src="./assets/img/image.png" alt="">
            <span class="counter text_grey">1/4</span>
            <img class="pointer_down" src="./assets/img/image (1).png" alt="">
          </div>
          <div class="flex">
            <div class="col-lg-9">
              <div class="sfondo mina">
                <h3 class="real w_marine">real stories</h3>
                <p class="explain_3">I am free to learn at my own pace,follow my own schedule and choose the subject i want to learn from the syllabus. Great study portal for people like me</p>
                <img class="woman" src="./assets/img/testimonial-avata-02.jpg" alt="">
                <p class="hollace">mina hollace</p>
                <p class="freelancer text_grey">/ freelancer</p>

              </div>
            </div>
            <div class="col-lg-6">
              <img class="phone_man" src="./assets/img/home-movation-testimonial-image-768x562.jpg" alt="">
            </div>
          </div>
        </div>
      </section>
      <section class="nine">
        <div class="container">
          <h4 class="blog">blog updated</h4>
          <h3 class="articles">Interesting <span class="w_marine">articles updated</span> daily</h3>
          <div class="row">
            <div class="col-lg-12 flex">
              <div class="card_4">
                <img class="blog_2" src="./assets/img/motivation-blog-04-480x325.jpg" alt="">
                <div class="small_box">
                  <span class="date"><i class="far fa-calendar"></i> may 13,2020</span>
                  <p class="first_p">How to Stay True to Your Personal Brand</p>
                  <p class="second_p">When it comes to your business or career, you want...</p>
                </div>
              </div>
              <div class="card_4">
                <img class="blog_2" src="./assets/img/motivation-blog-03-480x325.jpg" alt="">
                <div class="small_box">
                  <span class="date"><i class="far fa-calendar"></i> may 13,2020</span>
                  <p class="first_p">5 vital lessons in 5 years of freelancing</p>
                  <p class="second_p">Being self-employed and working from home, it's easy to get...</p>
                </div>
              </div>
              <div class="card_4">
                <img class="blog_2" src="./assets/img/motivation-blog-02-480x325.jpg" alt="">
                <div class="small_box">
                  <span class="date"><i class="far fa-calendar"></i> may 13,2020</span>
                  <p class="first_p">11 super useful tips for small-business owners</p>
                  <p class="second_p">Being a small business owner poses a ton of challenges. we..</p>
                </div>
              </div>
              <div class="card_4">
                <img class="blog_2" src="./assets/img/motivation-blog-01-480x325.jpg" alt="">
                <div class="small_box">
                  <span class="date"><i class="far fa-calendar"></i> may 13,2020</span>
                  <p class="first_p">how to give yourself grace to start again</p>
                  <p class="second_p">Forgive yourself for bad habits you may have started or...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container txt_center last">
          <p class="w_marine post">view all post</p>
        </div>
      </section>
    </main>
    <!-- /main -->
    <!-- footer -->
    <footer>
      <div class="blu">
        <div class="container pdtop_bot_80">
          <div class="row">
            <div class="col-lg-6">
              <div>
                <h3 class="address">Address</h3>
                <p v-for="item in address" class="column"> {{item}} </p>
              </div>
              <div class="small_icon flex_1">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
              </div>
            </div>
            <div class="col-lg-5 flex">
              <div>
                <h3 class="address">Explore</h3>
                <p v-for="item in explore" class="column"> {{item}} </p>
              </div>
              <div class="story">
                <p v-for="item in story" class="column"> {{item}} </p>
              </div>
              <div>
                <h3 class="address">Information</h3>
                <p v-for="item in information" class="column"> {{item}} </p>
              </div>
            </div>
          </div>
        </div>
        <div class="container txt_center pd_btm_50">
          <p class="column"><i class="far fa-copyright"></i>2020 Maxcoach. All Rights Reserved</p>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="assets/js/main.js" charset="utf-8"></script>
</body>
</html>
