*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility class */
/* .bd{
  border: 1px solid black;
} */

.flex{
  display: flex;
  justify-content: space-between;
}
/* *****************header class***************** */
.sfondo{
  /* height: 200px; */
  background-color: #ebe9ed;
  background-image: url(../img/background-pattern-wavify.png);
}
nav{
  border: 2px solid black;
  height: 80px;
  margin-bottom: 20px;
}
.rightpic{
  position: relative;
}
.leftpic{
  margin-bottom: 100px;
}

.stylewoman{
  background-image: url(../img/home-movation-shape-face-600x534.png);
  background-position-x: 72px;
    background-position-y: 203px;
    height: 685px;
    width: 680px;
    background-repeat: no-repeat;
}

.blonde_man{
  width: 523px;
    position: absolute;
    left: 48px;
    top: 30px;
    height: 653px;
}

.small_title{
  margin-top: 130px;
  text-transform: uppercase;
}
.title{
  width: 490px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 4rem;
    text-transform: capitalize;
}
.explain{
  font-size: 1.3rem;

    width: 520px;
    margin-bottom: 40px;
}
.get_start{
  padding: 15px 85px;
  border-radius: 5px;
  border: 0px;
  background-color: #20ac97;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 30px;
}
.small_arrow{
  padding-left: 10px;
}
/* *****************fine header class***************** */

/* ****************main class****************** */
/* *****************section one***************** */
.one{
  margin-top: 100px;
}
.number{
  font-size: 3rem;
  color: #20ac97;
  margin-bottom: 10px;
}
.num_explain{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}
.card_1{
  width: 400px;
  border-left: 1px dashed #20ac97;
  text-align: center;
  padding: 10px;
}
.border{
  border-right: 1px dashed #20ac97;
}
/* *******************fine section one ****************** */
