*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sfondo{
  /* height: 200px; */
  background-color: #ebe9ed;
  background-image: url(../img/background-pattern-wavify.png);
}
nav{
  border: 2px solid black;
  height: 80px;
  margin-bottom: 20px;
}
.rightpic{
  position: relative;
}
.leftpic{
  margin-bottom: 100px;
}
/* .style_woman{
  margin-top: 150px;
  margin-left: 100px;
} */
.stylewoman{
  background-image: url(../img/home-movation-shape-face-600x534.png);
  background-position-x: 0px;
  background-position-y: 130px;
  height: 500px;
  width: 600px;
  background-repeat: no-repeat;
}

.blonde_man{
  width: 500px;
  position: absolute;
  left: -22px;
  top: 0px;
  height: 500px;
}
.small_title{
  margin-top: 100px;
  text-transform: uppercase;
}
.title{
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3rem;
  text-transform: capitalize;
}
.explain{
  width: 400px;
  margin-bottom: 40px;
}
.get_start{
  padding: 15px 45px;
  border-radius: 5px;
  border: 0px;
  background-color: #20ac97;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 30px;
}
.small_arrow{
  padding-left: 10px;
}
