*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* **********************utility class********************* */
/* .bd{
  border: 1px solid black;
} */
.w_marine{
  color: #20ac97;
}
.blu_oltrem{
  color: #044680;
}
.text_grey{
  color: #6b6c6c;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.flex_1{
  display: flex;
}
.flexend{
  display: flex;
  justify-content: flex-end;
}
.wrap{
  flex-wrap: wrap;
}
.margin_r_20{
  margin-right: 20px;
}
.txt_center{
  text-align: center;
}
.pd_30{
  padding: 30px;
}
.pdtop_bot_80{
  padding: 80px 0;
}
/* *****************header class***************** */
.sfondo{
  /* height: 200px; */
  background-color: #ebe9ed;
  background-image: url(../img/background-pattern-wavify.png);
}
nav{
  /* border: 2px solid black; */
  height: 80px;
  margin-bottom: 20px;
}
.mylist{
  color: #044680;
  padding-top: 43px;
  list-style-type: none;
  margin-left: 70px;
  font-size: 1.5rem;
}
.flexend i{
  width: 1rem;
  margin-right: 40px;
  padding-top: 50px;
}
.rightpic{
  position: relative;
}
.leftpic{
  margin-bottom: 100px;
}

.stylewoman{
  background-image: url(../img/home-movation-shape-face-600x534.png);
  background-position-x: 60px;
    background-position-y: 214px;
    height: 686px;
    width: 700px;
    background-repeat: no-repeat;
}

.blonde_man{
  width: 600px;
    position: absolute;
    left: -22px;
    top: 44px;
    height: 653px;
}

.small_title{
  margin-top: 130px;
  text-transform: uppercase;
}
.title{
  width: 490px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: 500;
}
.explain{
  font-size: 1.3rem;
  width: 520px;
  margin-bottom: 40px;
}
.get_start{
  padding: 25px 85px;
  border-radius: 5px;
  border: 0px;
  background-color: #20ac97;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 30px;
}
.get_start:hover{
  background-color: #044689;
}
.small_arrow{
  padding-left: 10px;
}
/* *****************fine header class***************** */

/* ****************main class****************** */
/* *****************section one***************** */
.one{
  margin-top: 100px;
  margin-bottom: 100px;
}
.number{
  font-size: 3rem;
  color: #20ac97;
  margin-bottom: 10px;
}
.num_explain{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}
.card_1{
  width: 400px;
  border-left: 1px dashed #20ac97;
  text-align: center;
  padding: 10px;
}
.border{
  border-right: 1px dashed #20ac97;
}
/* *******************fine section one ****************** */

/* ****************** section two ************************** */
.two{
  margin-bottom: 100px;
}
.how_to{
  margin-top: 40px;
  font-size: 3.5rem;
  font-weight: 500;
  width: 540px;
  text-transform: capitalize;
  color: #232a33;
}
.explain_1{
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 1.65rem;
  color: #232a33;
  font-weight: bold;

}

.explain_2{
  font-size: 1.45rem;
  color: #6b6c6c;
  line-height: 2rem
}
/* ****************** section 3 ******************* */
.three{
  margin-bottom: 120px;
}
.main_cont{
  height: 500px;
}
.video_poster{
  width: 930px;
  height: 500px;
  border-radius: 5px;
}
.relative{
  position: relative;
}
.icon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.dreams{
  padding: 70px;
}
.every{
  font-size: 2.5rem;
  margin-bottom: 70px;
  color: #232a33;
}
.wave{
  width: 50px;
  padding-bottom: 20px;
}
.kaixa{
  font-size: 2rem;
  color: #044689;
  font-weight: bold;
  padding-bottom: 10px;
}
.wing{
  text-transform: uppercase;
  font-size: 1.3rem
}
/* *************fine section three *************************** */

/* **************************section four ******************** */
.four{
  text-align: center;
  margin-bottom: 100px;
}
.begin{
  text-transform: uppercase;
  padding-bottom: 40px;
  font-size: 1.8rem;
}
.courses{
  font-size: 5rem;
  color: #232a33;
  text-transform: capitalize;
}
/* *********************fine section four ******************** */
/* *************************section five *********************** */
.card_2{
  margin-bottom: 20px;
}
.card_2:hover{
  background-color: #ebe9ed;
}
.card_2:hover .img_card_2{
  border-radius: 10px;
}
.set_card_2{
  padding: 20px 30px 80px 50px;
}
.price{
  padding-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
}
.description{
  font-size: 1.7rem;
  width: 380px;
  padding-bottom: 30px;
  font-weight: bold;
  color: #044689;
}
.first_span{
  margin-right: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}
/* ************************* fine section 5 *********************** */
/* ****************************section six ************************** */
.six{
  margin-bottom: 150px;
}
.button_2{
  padding: 20px 90px;
  background-color: #20ac97;
  color: white;
  font-weight: bold;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 80px;
  font-size: 1rem;
}
.button_2:hover{
  background-color: #044689;
}
.book{
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.alpha{
  font-size: 4rem;
  text-transform: capitalize;
  padding-bottom: 40px;
  font-weight: 500;
}
.list_1{
  list-style-type: none;
  padding-bottom: 40px;
}
.list_1 i{
  margin-right: 20px;
}
.list_1 li{
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #6b6c6c;
}
.button_3{
  padding: 20px 80px;
  border: 0px;
  border-radius: 5px;
  background-color: #20ac97;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}
.button_3:hover{
  background-color: #044689;
}
.card_3{
  width: 400px;
  text-align: center;
}
.icon_2{
  position: absolute;
  left: 310px;
  top: 115px;
  display: none;
}
.icon_2 i{
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding-top: 12px;
  display: block;
  margin-bottom: 10px;
}
.card_3:hover .icon_2{
  display: block;
}
.sfondo_2{
  width: 400px;
  height: 400px;
  background-color: #ebe9ed;
}
.maxcoach{
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 1.8rem;
  font-weight: bold;
}
.price_2{
  color: #20ac97;
  font-size: 2rem;
  font-weight: bold;
}
/* ****************** fine section six* ****************** */
/* **********************section seven ******************* */
.seven{
  margin-bottom: 150px;
  margin-top: 50px;
}
/* ********************** fine section seven ****************** */
/* *********************** section eight ************************ */
.container_2{
  max-width: 2200px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.mina{
  width: 1100;
  height: 700px;
  text-align: center;
  padding: 120px 120px;
}
.phone_man{
  width: 1100px;
  height: 700px;
}
.real{
  text-transform: uppercase;
  margin-bottom: 50px;
}
.explain_3{
  font-size: 2rem;
  padding: 0 150px
}
.woman{
  width: 100px;
  margin-top: 65px;
  border-radius: 100%
}
.hollace{
  margin-top: 30px;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: bold;
}
.freelancer{
  margin-top: 20px;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.circle{
  width: 100px;
  height: 100px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;

}
.pointer_up{
  padding-top: 27px;
  padding-left: 44px;
}
.pointer_down{
  padding-left: 44px;
}
.counter{
  display: block;
  padding-left: 38px;
  font-size: 1.1rem;
}
/* *****************fine section 8 ******************* */
/* ********************section nine ****************** */
.blog{
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 1.3rem;
}
.articles{
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 100px;
}
.blog_2{
  border-radius: 5px;
  width: 380px;
  display: block;
  margin-bottom: 20px;
}
.small_box{
  width: 380px;
}
.first_p{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  padding-right: 35px;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.second_p{
  padding-right: 20px;
  font-size: 1.4rem;
  color: #6b6c6c;
}
.date{
  font-weight: bold;
  color: #6b6c6c;
  text-transform: capitalize;
}


.last{
  margin-top: 50px;
  margin-bottom: 150px;
}
.post{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: underline;
}
/* ********************fine section nine ****************** */
/* ********************** footer ************************** */

.blu{
  background-color: #141423;
}
.address{
  font-size: 2rem;
  line-height: 70px;
  color: white;
  font-weight: 600
}
.column{
  color: #ebe9ed;
  font-size: 1.2rem;
  line-height: 50px;
}
.small_icon{
  width: 200px;
  margin-top: 40px;
  color: #ebe9ed;
  justify-content: space-between;
}
.small_icon i{
  font-size: 30px;
}
